# Auto detect text files and perform LF normalization
* text=auto
Art[[:space:]]Museum[[:space:]]Mix-up filter=lfs diff=lfs merge=lfs -text
BellGame filter=lfs diff=lfs merge=lfs -text
ReadingTerminal filter=lfs diff=lfs merge=lfs -text
